{% extends 'navbarlayout.html' %}
{% block content %}

<head>
    <style>
    .hero-image {
    background-image: url("../static/pageheader-default.jpg");
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:0% 14%;
    }

    .hero-text {
    text-align: left;
    top: 60%;
    left: 50%;
    color: #EA650D;
    }

    /*h2 {
    color: #EA650D;
    font-size: 30px;
    font-weight: bold;
    text-align: justify;*/
    }

    h4 {
    color: #EA650D;
    }

    .button {
    background-color: #EA650D; /* Orange */
    border: none;
    color: white;
    padding: 14px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 8px;
    cursor: pointer;
    width: 100%;
    }

    .button {border-radius: 4px;} /* Green */
    .button2 {border-radius: 4px; position:center;margin:auto;margin-bottom:0%;}
    .button3 {border-radius: 4px; margin-bottom:0%; width:auto;padding:5px;text-align:center;float:right;}
    .button4 {border-radius: 4px;}  /* Gray */
    .button5 {border-radius: 4px;}  /* Black */

    form {
        text-align: right;
    }
    input {
        width: 186px;
        /*box-sizing: border-box;*/
    }

    /*a {
    color: black;
    size: 15px;
    text-decoration: underline;*/

    /*ul
    {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: right;
    }

    li
    {
    background-image: url(arrow.gif);
    background-repeat: no-repeat;
    background-position: 100% .4em;
    padding-right: .6em;
    }*/

    /* MODAL WINDOW */
        .modal-window {
          display: none; /* Hidden by default */
          position: fixed; /* Stay in place */
          z-index: 1; /* Sit on top */
          top: 0px;
          left:0px;
          width: 100%; /* Full width */
          height: 100%; /* Full height */
          overflow: auto; /* Enable scroll if needed */
          background-color: rgb(0,0,0); /* Fallback color */
          background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

        }
        .modal-content {
          top: -120px; /* Positie modal window */
          left: 0px;
          background-color: #fefefe;
          margin: 15% auto; /* 15% from the top and centered */
          padding: 30px;
          padding-top:20px;
          border: none;
          -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
          -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
          -webkit-background-clip: padding-box;
          -moz-background-clip: padding-box;
          background-clip: padding-box;
          width: 33%; /* Could be more or less, depending on screen size */
        }

          /*.modal-window select:focus {
              border-color: #EA650D;
          }*/

        /* Buttons */
        .close {
          /*color: #EA650D;*/
          float: right;
          font-size: 28px;
          font-weight: bold;
        }

        .close:hover,
        .close:focus {
          color: #EA650D;
          text-decoration: none;
          cursor: pointer;
        }

        .tab{
            display:none;
        }

    </style>
</head>

 <!-- The Modal HTML -->
        <div id="myModal" class="modal-window">
        <!-- Modal content -->
            <div class="modal-content">
                <div>
                  <span class="close" style="color: #EA650D">&times;</span>
                  <h3 class="mb-0 header" style="color: #EA650D; font-size:20px"><b>Add pension</b></h3><br>
                <select class="select1" style="border:1px solid #EA650D">
                    <option class="main" selected disabled hidden>Choose type of pension</option>
                    <option class="main" value="netto">Net Pension</option>
                    <option class="main" value="gross">Gross Pension</option>
                </select>
                    </div>
                <div class="netto box main"><strong></strong>
                <p>Use the details in your most recent UPS or another statement in order to add pension, or see Mijnpensioenoverzicht.nl. If you want to add more than one pension, after saving select ‘Add pension manually’ again.
                <br>
                <br>Description:</p>
                <input type="pensiondescription" class="form-control" id="pensiondescr" placeholder="Pension Description"><br>
                For:
                <br>
                <label class="radio-inline">
                    <input type="radio" name="person" value="participant"> Participant</label>
                <label class="radio-inline">
                    <input type="radio" name="person" value="partner"> Partner</label><br><br>
                An amount in € of:
                <input type="amtperyear" class="form-control" id="amtperyear" size="12" placeholder="0.00">Net per year<br>
                <br>I will receive from:
                <br>
                <select name="netage" style="width: 110px;">
                  <option value="choose">Choose age..</option>
                  <option value="65">65</option>
                  <option value="66">66</option>
                  <option value="67">67</option>
                  <option value="68">68</option>
                </select>
                <select name="netmonths" style="width: 110px">
                  <option value="choosem">Months..</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                  <option value="11">11</option>
                  <option value="12">12</option>
                </select>
                <br>
                <br>
                <button class="btn" onclick="myReturn()" style="border-color: #EA650D; color: #EA650D; background-color: white"><b>Cancel</b></button>
                <button class="btn" id="Btnsubmit" style="color: white; background-color: #EA650D; float: right"><b>Save</b></button>
                </form></div>
                <div class="gross box main"><strong></strong>
                <p>Use the details in your most recent UPS or another statement in order to add pension, or see Mijnpensioenoverzicht.nl. If you want to add more than one pension, after saving select ‘Add pension manually’ again.
                <br>
                <br>
                Description:</p>
                <input type="pensiondescription" class="form-control" id="pensiondescr" placeholder="Pension Description"><br>
                For:
                <br>
                <label class="radio-inline">
                    <input type="radio" name="person" value="participant"> Participant</label>
                <label class="radio-inline">
                    <input type="radio" name="person" value="partner"> Partner</label><br><br>
                An amount in € of:
                <input type="amtperyear" class="form-control" id="amtperyear" size="12" placeholder="0.00">Net per year<br>
                <br>I will receive from:
                <br>
                <select name="grossage">
                  <option value="gross">Choose age..</option>
                  <option value="gross">65</option>
                  <option value="gross">66</option>
                  <option value="gross">67</option>
                  <option value="gross">68</option>
                </select>
                <select name="grossmonths">
                  <option value="choosem">Months..</option>
                  <option value="gross">1</option>
                  <option value="gross">2</option>
                  <option value="gross">3</option>
                  <option value="gross">4</option>
                  <option value="gross">5</option>
                  <option value="gross">6</option>
                  <option value="gross">7</option>
                  <option value="gross">8</option>
                  <option value="gross">9</option>
                  <option value="gross">10</option>
                  <option value="gross">11</option>
                  <option value="gross">12</option>
                </select>
                <br><br>During the following period:
                  <br>
                <select>
                    <option class="subselect" value="choose">Choose period</option>
                    <option class="subselect" value="forlife">For Life</option>
                    <option class="subselect" value="uptoageof">Up to the age of</option>
                </select><br>
                <br>
                <div class="forlife box2">You have selected <strong>For Life</strong></div>
                <div class="uptoageof box2">You have selected <strong>Up to the age of</strong>
                <br>End Age: <select>
                    <option class="subselect" value="choose">Choose period</option>
                </select>Years
                <select>
                    <option class="subselect" value="choose">Choose period</option>
                </select>Months</div>
                <br>
                <br>
                <button class="btn" onclick="myReturn()" style="border-color: #EA650D; color: #EA650D; background-color: white" ><b>Cancel</b></button>
                <button class="btn" id="showselection2" style="color: white; background-color: #EA650D; float: right" ><b>Save</b></button>
                </form>
                </div>
            </div>
        </div>
        <!--end of Modal myModal-->

        <!--the start of Modal dataModal-->

        <!-- Modal content -->

        <!--end of modal dataModal-->

<!--------end of the modals----->

<div class="jumbotron p-3 p-md-5 rounded bg-dark hero-image hero-text">
    <h1 style="color: #EA650D; font-size:50px">Welcome <br>{{session['naam']}}</h1>
</div>

<div class="nav-scroller2 py-1 mb-2">
    <nav class="nav d-flex justify-content-left">
        <a class="p-2 text-dark" href="#">Individual /</a>
        <a class="p-2 text-dark" href="mijnpensioenen">Pension /</a>
        <a class="p-2 text-dark" href="#">Pension Services Online</a>
    </nav>
</div>

<div class="p-3 mb-3 rounded">
    <h2 style="color: #EA650D; font-size: 30px; font-weight: bold;">My {{session['shortsur']}} at the age of {{session['leeftijd_pensioen']}}</h2>

<div style="float: left">
   <span class="glyphicon glyphicon-tasks" style="color:#EA650D" href="#"></span>
   <a style="color: #EA650D; font-size: 12px" href="#">See all ages</a>
</div>
<br>
<br>

<div class="col">
    <div class="card-deck mb-4" style="height: 300px;">
        <div class="card text-dark rounded" style="background-color:#f1edeb;border:0px;">
            <div class="card-body">
                <h4 class="card-title Header" style="color: #EA650D; font-size:25px"><b>My expected income</b></h4>
                <!--<p class="card-text textblok">Income: {{session['inkomen']}}<br>Expenses: {{session['uitgaven']}}</p>-->
                <h5 style="font-size:20px; text-align: right"><b>Net per month <br> € {{session['inkomen']}}</b></h5>
                <div style="text-align: right">
                <a style="font-size:12px; text-align: right; color: #778899" href="#"><u>How is this calculated?</u></a>
                </div>
                <ul>
                <a class="text-dark" style="font-size:15px" href="anderepensioenen"><u><li>My pension at Nationale-Nederlanden</u></li></a>
                <a class="text-dark" style="font-size:15px" href="anderinkomen"><u><li>Other income</li></u></a>
                </ul>
                <br>
                <span class="glyphicon glyphicon-plus-sign" style="color:#EA650D"></span>
                <a class="text-dark" style="font-size:15px" id="trigger" href="#" ><b>Add and manage pension</b></a>
                <br>
                <span class="glyphicon glyphicon-plus-sign" style="color:#EA650D"></span>
                <a class="text-dark" style="font-size:15px" id="btnData" href="#"><b>Add and manage income</b></a>
            </div>
        </div>

        <div class="card text-dark rounded" style="background-color:#f1edeb;border:0px;">
            <div class="card-body">
            <h4 class="card-title Header" style="color: #EA650D; font-size: 25px; font-weight: bold;">How can I supplement my shortage?</h4><br>
            <img class="mx-image mx-name-image1 img-responsive" style="width: 200px; height: 130px;  margin-left: auto; margin-right: auto;" src="https://nndeelnemersportaal-deelnemerportaalnn.cert.cfapps.eu10.hana.ondemand.com/img/Atlas_UI_Resources$tekorten.png?636797026212538030">
            </div>
            <div class="card-footer w-100" style="position:absolute; bottom:0;">
            <button class="btn btn-primary btn-outline-light btn-block" style="background-color: #EA650D; text-align: left; border:0px;" type="submit"><b> View your options</b>
                <span class="glyphicon glyphicon-chevron-right pull-right" style="color: white"></span></button>
            </div>
        </div>
    </div>
</div>

<div class="col">
    <div class="card-deck mb-4" style="height: 300px;">
        <div class="card text-dark rounded" style="background-color:#f1edeb;border:0px;">
            <div class="card-body">
            <h4 class="card-title Header" style="color: #EA650D; font-size:25px"><b>My expected expenses</b></h4>
            <br>
            <!--<p class="card-text textblok">Income: {{session['inkomen']}}<br>Expenses: {{session['uitgaven']}}</p>-->
            <h5 style="font-size:20px"><b>Based on </b></h5>
            <select>
                <option value="oeta">Own estimate total amount</option>
                <option value="70">70% of last salary</option>
                <option value="nc">Nibud calculation</option>
            </select>
            <form action="" id="form1">
            <h5 style="font-size:20px"><b>Expected expenses </b></h5>
            <input type="number" name="quantity" min="1" maxlength="999999" value="{{session['uitgaven']}}"></input>
            <p align="right">Your expected total <br>expenditure net p/m</p>
            </form>
            </div>
        </div>

    <div class="card text-dark rounded" style="background-color:#f1edeb;border:0px;">
        <div class="card-body">
            <h4 style="color: #EA650D; font-size:25px"><b>Options</b></h4>
            <br>
        <button class="btn btn-primary btn-outline-light btn-block" style="background-color: #EA650D; text-align: left; border:0px;" type="submit"><b>Retire earlier or later</b>
        <span class="glyphicon glyphicon-chevron-right pull-right" style="color: white"></span></button>
        <button class="btn btn-primary btn-outline-light btn-block" style="background-color: #EA650D; text-align: left; border:0px;" type="submit"><b>Print to pdf</b>
        <span class="glyphicon glyphicon-chevron-right pull-right" style="color: white"></span></button>
        <button onclick="window.location.href='/investment'" class="btn btn-primary btn-outline-light btn-block" style="background-color: #EA650D; text-align: left; border:0px;" type="submit"><b>A higher pension</b>
        <span class="glyphicon glyphicon-chevron-right pull-right" style="color: white"></span></button>
        <button class="btn btn-primary btn-outline-light btn-block" style="background-color: #EA650D; text-align: left; border:0px;" type="submit"><b>A more secure pension</b>
        <span class="glyphicon glyphicon-chevron-right pull-right" style="color: white"></span></button>
        <button onclick="window.location.href='/mijnprofiel'" class="btn btn-primary btn-outline-light btn-block" style="background-color: #EA650D; text-align: left; border:0px;" type="submit"><b>My profile</b>
        <span class="glyphicon glyphicon-chevron-right pull-right" style="color: white"></span></button>
        </div>
    </div>
    </div>
</div>

<div class="col">
    <div class="card-deck mb-4" style="height: 120px;">
        <div class="card text-dark rounded" style="background-color:#f1edeb;border:0px;">
            <div class="card-body">
            <h4 class="card-title Header" style="color: #EA650D; font-size:25px"><b>My {{session['shortsur']}} at {{session['leeftijd_pensioen']}}</b></h4>
            <!--<p class="card-text textblok">Income: {{session['inkomen']}}<br>Expenses: {{session['uitgaven']}}</p>-->
            <h5 style="font-size:25px" align="right"><b> € {{session['som']}}</b></h5>
            </div>

        </div>

    <div class="card text-dark rounded" style="background-color:#f1edeb;border:0px;">
        <div class="card-body">
            <h4 class="card-title Header" style="color: #EA650D; font-size: 25px; font-weight: bold;">What if I...</h4>
            <ol class="list-unstyled">
              <span class="glyphicon glyphicon-chevron-right" style="color:#EA650D"></span>
                <a style="color: black; font-size: 15px" href="#"><b>Decease</a></b>
                <br>
              <span class="glyphicon glyphicon-chevron-right" style="color:#EA650D"></span>
                <a style="color: black; font-size: 15px" href="#"><b>Go and divorce</a></b>
                <br>
              <span class="glyphicon glyphicon-chevron-right" style="color:#EA650D"></span>
                <a style="color: black; font-size: 15px" href="#"><b>Work incapacitated</a></b>
            </ol>
        </div>

        </div>
    </div>
</div>
<br>
<br>

<footer class="blog-footer">
    <a href="#">Back to top</a>
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!--Bootstrap script voor glyphicons-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!-- MODAL SCRIPT -->
   <script>

        var modal = document.getElementById('myModal');

        var span = document.getElementsByClassName("close")[0];

        window.onclick = function(event){
            if (event.target == modal) {
                modal.style.display = "none";
                }
            }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
                }
            }
        span.onclick= function(event) {
            myModal.style.display = "none";

        }
        span.click= function(event) {
            myModal.style.display = "none";
        }

        window.click = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
                }
            }


    </script>
<!------------------------------>
<!---------dropdown hide and show------->
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
    $("select").change(function(){
        $(this).find("option:selected").each(function(){
            var optionValue = $(this).attr("value");
            var optionClass = $(this).attr("class");

            if (optionClass == "main"){
                if(optionValue){
                    if(optionValue){
                        $(".box").not("." + optionValue).hide();
                        $(".select1").hide();
                    }
                    $("." + optionValue).show();
                }
                else{
                    $(".box").hide();
                    $(".box2").hide();
                }
            }
            else if(optionClass == "subselect"){
                    if(optionValue){
                        $(".box2").not("." + optionValue).hide();
                        $("." + optionValue).show();
                    }
                    else{
                    $(".box2").hide();
                        }
                }
        });
    }).change();
});
</script>
<!------------------------------>
<!-- modal on link click -->
<script>
$(function(){
        $('#trigger').click(function(){
         modal.style.display = "block";
        })

        });
</script>
<!---- oudid return select
<script>$(function(){
    $('#showselection').click(function(){
         $(".select1").show();
         $(".box").hide();
         $(".box2").hide();
        })
    });
</script>
->
<!---- als return knop gedrukt word hide boxes met invulvelden en show selections--->
<script>
function myReturn() {
    $(".select1").show();
    $(".box").hide();
    $(".box2").hide();
}
</script>
<!--------------------------->
{% endblock %}