{% extends 'navbarlayout.html' %}
{% block content %}

<head>
    <style>
        .bgimg{
            background-image: url("../static/pageheader-default.jpg");
            background-position: 0% 24%;
            height:300px;
            background-size:cover;
            background-size: 100%;
            background-repeat:no-repeat;
        }
        .Header{
            color: #EA650D;
            font-weight:bold;
            font-size:24px;
        }
        .textblok{
            font-size:14px;
        }
    </style>
</head>

<div class="container-fluid">
    <nav aria-label="breadcrumb">
  <ol class="breadcrumb bg-white">
    <li class="breadcrumb-item"><a href="#">Individual</p></a></li>
    <li class="breadcrumb-item"><a href="#">Pension</a></li>
    <li class="breadcrumb-item active" aria-current="page">My Profile</li>
  </ol>
</nav>
            <div class="col">
         <div class="card-deck mb-4">
          <div class="card text-dark rounded" style="border:0px;">
            <p class="card-text textblok">You will find here your personal and financial data that are important for your pension and your total income for later. Click on the items in the menu to view your
            view or modify data. You can also fill in your desired income from the moment you retire. So you can see how you will be there later for state.</p>
            </div>
         </div>
        </div>

        <div class="col">
         <div class="card-deck mb-3">
          <div class="card text-dark rounded textblok" style="background-color: #f1edeb;border:0px;">
            The information you add in mijn.nn and Pensioen Services Online is only used to make a calculation. We do not use these for commercial purposes. We do not pass on your details to other organizations.
          </div>
         </div>
        </div>
      <div class="w-100"></div>
    <div class="col">
     <div class="card-deck mb-4" style="height: 300px;">
        <div class="card text-dark rounded" style="background-color: #f1edeb;border:0px;">
            <div class="card-body">
            <h3 class=" Header">My pensions</h3>
            <table style="width:100%">
                <th>Uitvoerder</th><th>Polisnummer</th><th>Bruto</th><th>Begin</th><th>Eind</th>
                {{pensioenen_gebruiker|safe}}
            </table>
            </div>
            <div class="card-footer w-100" style="position:absolute; bottom:0;">
            <button class="btn btn-primary btn-outline-light btn-block" style="background-color: #EA650D;border:0px;" type="submit">Check or change your pension details > </button>
            </div>
        </div>

</div>


{% endblock %}